@import "tailwindcss";

.chat-box {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.chat-box::-webkit-scrollbar {
  display: none;  /* Chrome, Safari and Opera */
}
